/* the eric meyer css reset*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of reset */

section {
 display: block;
 font-family: 'Quicksand', sans-serif;
 color:black;
 position: relative;
 left: 100px;
}
header {
  padding: 35px;
}
body {
	background-image: "images/beach.jpg";
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.wrapper {
  width: 600px;
  margin: auto;
	background-color: rgba(255, 255, 255, 0.5);
}

.posts {
  padding: 25px;
  width: 500px;
  left: 0;
}

.posts p {
	margin-bottom: 25px;
}

.image {
	text-align: center;
}
	img {
	  width: 300px;
	}

/*  index styleing  */
.index {
  width: 256px;
  background-color: yellow;
  position: absolute;
  height: 256px;
  top: 100px;
  left: -300px;
}
nav {

  margin: 35px;
}
ul {
  line-height: 35px;
}

.index a {
  text-decoration: none;
  color: black;
}
/* end of index style */

/* footer styling */

footer {
	position: absolute;
  width: 256px;
  height: 256px;
  bottom: 0px;
  left: -300px;
	clear: both;
 	background-color: yellow;
}

footer a {
	text-decoration: none;
	color: black;
	margin: 35px;
	padding-top: 35px;
}
