/*Victoria Chau's portfolio css*/
/*start main page styles*/

.page {
  width: 90%;
  max-width: 1024px;
}

/*special nav image with hamburger*/
.pinky {display:none;}

h1 {
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  font-size: 70px;
  color: black;
  margin-left: 200px;
  margin-bottom: 0;
  margin-top: 2%;

}
h2 {
  font-size: 20px;
  margin-left: 200px;

}
h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;

}

footer{
  width:100%;
  text-align: center;
  margin-top: 5%;
}
footer a {
  color: black;
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  text-decoration: none;
}

header {
  display: table;
  width: 100%;
}
header img {
  width: 200px;
  display: table-cell;
}

figure {
  display: table;
  margin-top: 5%;
  margin-left: 200px;
}
.self {
  width: 90%;
display: table-cell;
}
figcaption {
    width: 35%;
    display: table-cell;
    vertical-align: top;
  }

  .banner {
    display: table-cell;
  	margin-left: 200px;
    vertical-align: bottom;
   font-family: 'Roboto', sans-serif;
  }

  header img {
    width: 100px;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

/***************** Navigation *****************/
nav {
  position: absolute;
  display: table-cell;
  width: 150px;
}

nav ul { list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  text-align: center;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: gray;
  font-weight: 700;
	line-height: 25px;
  font-family: 'Roboto', sans-serif;
  padding-left: 0;
  margin-left: 0;
}

/*end navigation styles*/

/*tablet*/
@media (max-width: 768px) {
  figure {
    display: block;
    margin-left: 150px;
  }

  .self {
    width: 100%;
    margin: 5% auto 5% auto;
  }
  .banner {
    text-align: center;
  }
  .banner h1 {
    font-size: 40px;
    margin-left: 150px;
  }
  .banner h2 {
    margin-left: 150px;
  }
}
/*end tablet styles*/

/*mobel styles*/
@media (max-width: 375px) {
nav {
display:none;
}
.pinky {
display: block;
margin-bottom: 5%;
}
figure {
  margin: 0;
  padding:0;
}
.banner h1 {
  margin:0;
}
.banner h2 {
  margin:0;
}
}
/*end mobel styles*/
