/***** Victoria Chau Des 117 Design Matters Style Sheet ****/

body {
	background-color:#e4d1ba;
}

#container {
	width: 1020px;
	margin: auto;
}

header {
	background-color: #f2e9df;
	padding: 40px 20px;
	text-align: center
}

/***************** Navigation *****************/

nav {
	font-family: 'Courgette', cursive;
	background-color:#e4d1ba;
}

nav ul {
	overflow: hidden;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	float: left;
	width: 204px;
}

nav ul li a {
	display: block;
	background-color:#c49a6c;
	text-decoration: none;
	color: #183f7f;
	height: 36px;
	line-height: 36px;
	text-align: center;
}

/*********** main text styles *****/

section {
	overflow: hidden; /* to contain floated articles */
}
h2 {
	color: #183f7f;
	font-size: 50px;
}
article {
	font-family: 'Kreon', serif;
	float: left;
	width: 200px;
	padding: 20px;
	margin-top: 50px;
	text-decoration: none;
}
.mainblock {
	width: 500px;
	background-color: #f2e9df;
}
.mainblock img {
text-align: center;
}

/*** Footers styles ***/

footer {
	background-color:#c49a6c;
	color:#183f7f;
	font-family: 'Kreon', serif;
	padding: 20px;
}
